<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rageh</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('../partials/search.ejs') %>
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>