<div id="home_content">
    <h1>Ismail Rageh</h1>
    <ul id="interest_list">
        <li>
            Cybersecurity &bull;
        </li>
        <li>
            Software Development &bull;
        </li>
        <li>
            Computer Networking
        </li>
    </ul>
</div>
<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul id="article-ul">
        <li>
            <a href="#">
                <span>Post Title <i>21/04/2001</i></span>
                <p>Description</p> 
            </a>
        </li>
        <li>
            <a href="#" class="other_posts">View Older Posts &gt;</a>
        </li>

    </ul>

</section>